/* Dropdown menu */
.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-arrow {
  height: 1rem;
  width: 1rem;
  transform: rotate(180deg);
  transition: all 0.5s;
  align-self: flex-end;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  /* background-color: blue; */
}

.show {
  visibility: visible;
  opacity: 1;
  margin: 0;
}

.rotated {
  transform: rotate(360deg);
}
